$main: #1e272e
$contrast: #f5f6fa

html, body
  background: $main
  font-size: 62.5%
  font-size: 1.2rem
  font-family: Poppins, sans-serif

*
  box-sizing: border-box
  color: $contrast
  padding: 0
  margin: 0

h1
  color: $contrast
  font-size: 3rem
  text-align: center